<p id="notice"><%= notice %></p>

<p>Name: <%= @comment.user_name %></p>
<p>Comment Body: <%= @comment.body %></p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
